//section designs
.section-designs {
    .section-designs__header {
        padding-left: 32px;
        padding-bottom: 48px;
    }

    li {
        padding-bottom: 40px;
    }

    img {
        width: 100%;
        border-radius: 12px;
    }

    .design {
        color: #828282;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
    }

    .design-name {
        color: #333333;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .section-designs__footer {
        padding-left: 0;
        button {
            background-color: transparent;
            color: $color-blue;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            padding-right: 2rem;
            border: none;
            background-image: image('arrow.svg');
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 1rem;
        }
    }
}

@media(min-width: 1040px) {
    .section-designs {
        padding-left: 100px;
        padding-right: 160px;
        padding-bottom: 250px;

        .section-designs__header {
            max-width: 448px;

            .section-designs__header--heading {
                font-weight: 500;
                font-size: 36px;
                line-height: 54px;
            }
        }

        .section-designs__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 8px;
            row-gap: 0;

            li {
                padding-bottom: 0;
            }

            li:nth-child(2n+1) {
                padding-top: 150px;
            }
        }

        .section-designs__footer {
            display: flex;
            justify-content: flex-end;
            button {
                justify-self: end;
            }
        }
    }
}